# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside

*.o

.DS_Store

assignment5/FontEditor/FontEditor

assignment5/FontEditor/glyph.txt

assignment6_hdr_images.zip

assignment_6_hdr_images

assignment6/hdr/hdr

assignment6/libst/lib/libst.a

*.pfm

*.cr

assignment8/ProgrammableShading/ProgrammableShading
